# Target build directory
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables & secrets
.env.example
.env
*.env.local

# Logs
*.log
logs/
